* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_7 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_32 {
  width: 430px;
  height: 852px;
  background: url("../images/v5_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v1_132 {
  width: 430px;
  height: 97px;
  background: url("../images/v1_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 0px;
  overflow: hidden;
}
.v1_34 {
  width: 430px;
  height: 97px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_45 {
  width: 70px;
  height: 19px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 133px;
  overflow: hidden;
}
.v1_42 {
  width: 70px;
  height: 19px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_32 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_44 {
  width: 73px;
  height: 49px;
  background: url("../images/v1_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v1_27 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_37 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v1_46 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 145px;
  overflow: hidden;
}
.v1_43 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_39 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_53 {
  width: 67px;
  height: 52px;
  background: url("../images/v1_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 242px;
  overflow: hidden;
}
.v1_52 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v1_48 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_40 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_54 {
  width: 67px;
  height: 19px;
  background: url("../images/v1_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v1_51 {
  width: 67px;
  height: 19px;
  background: url("../images/v1_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_47 {
  width: 67px;
  height: 19px;
  background: url("../images/v1_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_33 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_50 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 357px;
  overflow: hidden;
}
.v1_41 {
  width: 45px;
  height: 33px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_35 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 356px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_221 {
  width: 69px;
  background: url("../images/v1_221.png");
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 25px;
  border: 3px solid rgba(0,0,0,1);
}
.v1_229 {
  width: 242px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_27 {
  width: 374px;
  height: 345px;
  background: url("../images/v5_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 28px;
  overflow: hidden;
}
.v5_21 {
  width: 374px;
  height: 345px;
  background: url("../images/v5_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_6 {
  width: 374px;
  height: 345px;
  background: url("../images/v5_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_4 {
  width: 374px;
  height: 107px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_15 {
  width: 374px;
  height: 107px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_16 {
  width: 374px;
  height: 107px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_8 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 114px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v5_19 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 152px;
  left: 117px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v5_20 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 114px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v5_18 {
  width: 79px;
  height: 70px;
  background: url("../images/v5_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 9px;
  overflow: hidden;
}
.v5_30 {
  width: 374px;
  height: 61px;
  background: url("../images/v5_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 28px;
  overflow: hidden;
}
.v5_28 {
  width: 374px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 0.5400000214576721;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_29 {
  width: 295px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 0.5;
  text-align: left;
}
